<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
  <title> Try it Free</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="assets/css/main.css" />
  <link rel="stylesheet" href="assets/css/checkout.css" />
  <noscript>
    <link rel="stylesheet" href="assets/css/noscript.css" />

  </noscript>
</head>

<body class="is-preload landing">
  <section>


    <div id="page-wrapper">

      <!-- Header -->
      <header id="header">

        <h1 id="logo"><a href="/"> <img class="love" src="images/pic01.jpg" alt=""> </a></h1>

        <nav id="nav">
          <ul>
            <li><a href="/left-sidebar"> About Fluency</a></li>
            <li><a href="/right-sidebar"> What to Expect</a></li>
            <li><a href="/premium"> Try Premium</a></li>
            <li><a href="/profile" class="button primary">My Profile </a></li>
            <li><a href="/logout" class="button primary">Log Out</a></li>

          </ul>
        </nav>
      </header>

      <!-- Banner -->

      <!-- Five -->

      <div class="styleMarge wrapperCheck">
        <div id="containerCheck">
          <form action="" class="mainForm">
            <div class="billing">
            <h1 class="billMe">
              <i class="fas fa-shipping-fast"></i>
              Billing Details
            </h1>
            <div class="name">
              <div>
                <label for="f-name">First</label>
                <input type="text" name="f-name" placeholder="John">
              </div>
              <div>
                <label for="l-name">Last</label>
                <input type="text" name="l-name" placeholder="Doe">
              </div>
            </div>
            <div class="street">
              <label for="name">Street</label>
              <input type="text" name="address" placeholder="587 Forrest Street">
            </div>
            <div class="address-info">
              <div>
                <label for="city">City</label>
                <input type="text" name="city" placeholder="Boston">
              </div>
              <div>
                <label for="state">State</label>
                <input type="text" name="state" placeholder="Massachusetts">
              </div>
              <div>
                <label for="zip">Zip</label>
                <input type="text" name="zip" placeholder="02113">
              </div>
            </div>
          </div>
          <div class="cardCheck">
            <h1 class="billMe">
              <i class="far fa-credit-card"></i> Payment Information
            </h1>
            <section class="cardsPics">
              <div id="emotion">
                <input type="radio" name="emotion"  />
                <label for="sad"><img id="visa" src="https://logo-all.ru/uploads/posts/2016-02/0_visa_brand.jpg" alt="visa" /></label>
              </div>
              <div id="emotion">
                <input type="radio" name="emotion"  />
                <label for="happy"><img id="master"src="https://pngimg.com/uploads/mastercard/mastercard_PNG13.png" alt="master" /></label>
              </div>
              <div id="emotion">
                <input type="radio" name="emotion"  />
                <label for="sad"><img id="visa" src="https://w7.pngwing.com/pngs/412/118/png-transparent-maestro-debit-card-mastercard-credit-card-payment-card-mastercard-text-logo-payment.png" alt="maestro" /></label>

              </div>

              <div id="emotion">
                <input type="radio" name="emotion"  />
                <label for="sad"><img id="express" src="https://www.seekpng.com/png/detail/31-310056_what-did-elon-musk-do-at-paypal-paypal.png" alt="express" /></label>

              </div>

            </section>

            <div class="cc-num">
              <label for="card-num">Credit Card No.</label>
              <input type="text" name="card-num" placeholder="555-555-555-5555">
            </div>
            <div class="cc-info">
              <div>
                <label for="card-num">Exp</label>
                <input type="text" name="expire" placeholder="12/27">
              </div>
              <div>
                <label for="card-num">CCV</label>
                <input type="text" name="security" placeholder="368">
              </div>
            </div>
        </div>
            <div class="btns">
              <a href="/success"><button class="button primary join">Join Premium</button> </a>
              <a href="/index"><button class="button primary join" type="button" name="button"> Return to Homepage</button> </a>
            </div>
          </form>
        </div>
      </div>
  </section>

  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="http://www.twitter.com" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href=" http://wwww.facebook.com" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="http://www.linkedin.com" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
      <li><a href="http://www.instagram.com" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="http://www.github.com" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="http://www.gmail.com" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Fluency. All rights reserved.</li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>

  </div>

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/jquery.scrolly.min.js"></script>
  <script src="assets/js/jquery.dropotron.min.js"></script>
  <script src="assets/js/jquery.scrollex.min.js"></script>
  <script src="assets/js/browser.min.js"></script>
  <script src="assets/js/breakpoints.min.js"></script>
  <script src="assets/js/util.js"></script>
  <script src="assets/js/main.js"></script>

</body>

</html>
