<!doctype html>
<html>

<head>
  <title>Fluency</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/login.css">
</head>

<body id="loginBody">

  <section>
    <header>
      <h1 id="logo"><a href="/"> <img class="love" src="images/pic01.jpg" alt=""> </a></h1>
    </header>
    <div class="card">
      <div class="container">
        <h1>Welcome to Fluency</h1>
        <form action="/login" method="post">

          <ul class="email-input-list">
            <li class="label">Email</li>
            <li><input class="form-control" placeholder="name@email.com" name="email"type="text"></li>
          </ul>
          <ul>
            <li class="label">Password</li>
            <li><input class="form-control" placeholder="*******" name="password" type="password"></li>
          </ul>
              <button type='submit' class="login-btn">Login</button>

          <span class="account">Don't Have an Account? <a href="/signup">Register</a>
            Or return to <a href="/">Home Page</a></span>


        </form>
      </div>
    </div>
  </section>

  <!-- <script src="assets/js/login.js" charset="utf-8"></script> -->
</body>

</html>
