<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/videoRoom.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <title>Document</title>

</head>
<body class="body">
  <section class="videoBox">
    <div id="video-grid"></div>
    <button class="button primary begin" type="button" name="button"> <a href="http://localhost:8000/videoChat/<%=roomId%>">Begin Session</a> </button>
      <button class="button primary end" type="button"
       name="button"> <a href="/endVideoChat/<%=roomId %>">End Session</a> </button>

    </section>

  <section class="topics">
    <h3> Suggested Topics:</h3>
    <ul>
      <li> Describe your last vacation</li>
      <li> Describe your best friend</li>
      <li> Why do you wish to learn this language?</li>
      <li> If you could change the past what would you change?</li>
      <li> Who is your favorite music artist? Why?</li>
      <li> What is your happiest memory? </li>
    </ul>
  </section>
</body>
<script>
  const ROOM_ID = "<%= roomId %>"
</script>
<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
<script src="/socket.io/socket.io.js" defer></script>
<script src="/videoScript.js" defer></script>


</script>
</html>
