* {
  font-family: 'Open Sans', sans-serif;
}

#video-grid {
  display: flex;
  height: 79vh;
}

.divBar {
  margin-top: 70px;
  width: 723px;
  display: flex;
  margin: auto;
  background-color: purple;
}

.love {
  width: 11%;
  border-radius: 30%;
  margin-top: 10px;
  background-color: rgb(21 11 58);
  display: block;
  margin: auto;
}

#header {
  /* background: rgb(21 11 58); */
  box-shadow: 0 0 0.25em 0 rgb(0 0 0 / 25%);
  cursor: default;
  height: 7.9em;
  left: 0;
  line-height: 3.5em;
  top: 0;
  width: 100%;
  /* z-index: 100; */
}

#header h1 {
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  position: absolute;
  top: 0;
}

.iconHang {
  color: red;
}

video {
  width: 40vw;
  min-width: 300px;
  display: block;
  margin: 9px auto;
  border-radius: 20px;
  height: 61.5vh;
}
.videoBox, .topics {
  margin-left: 20px;
}

body {
  /* background-image: url('background.png') !important; */
  background-color: rgb(23, 17, 52);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin: 0;
  height: 1000px; */
}

.topics {
  color: lavender;
  position: absolute;
  top: 81%;
  left: 72%;
  font-size: 17px;
  height: 154px;
  text-align: center;
  background: rgb(198 77 100);
  border-radius: 15px;
}
ul {
  list-style-type: none;
  text-align: left;
  overflow: scroll;
  height: 121px;
  background: rgb(21 11 58);
  padding: 0;
  width: 95%;
  margin: auto;
  border-radius: 10px;
  padding-left: 5px;
  color: white;
}

h3 {
  text-align: center;
  margin: 2px 0px;
  text-align: center;
  left: 50%;
  font-size: 16px;
}

.begin {
  position: absolute;
  top: 71%;
  left: 11%;
  padding: 13px;
  width: 200px;
  font-size: 20px;
  text-decoration: none;
  background-color: rgb(198, 77, 100);
}

.timeLeft {
  width: 100%;
}

#time-left {
  position: absolute;
  left: 50%;
  top: 83%;
  color: black;
  background: lavender;
  padding: 5px 10px;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

.end {
  padding: 13px;
  width: 300px;
  text-align: center;
}
